<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceHealth" />
                <binding name="BasicHttpBinding_IServiceHealthAlert" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:57877/ServiceHealth.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceHealth"
                contract="ServiceReferenceHealth.IServiceHealth" name="BasicHttpBinding_IServiceHealth" />
            <endpoint address="http://localhost:57877/ServiceHealth.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceHealthAlert"
                contract="ServiceReferenceHealth.IServiceHealthAlert" name="BasicHttpBinding_IServiceHealthAlert" />
        </client>
    </system.serviceModel>
</configuration>