<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MyHealth.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IServiceHealth" />
        <binding name="BasicHttpBinding_IServiceHealthAlert" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:54135/ServiceHealth.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceHealth"
        contract="ServiceReferenceHealth.IServiceHealth" name="BasicHttpBinding_IServiceHealth" />
      <endpoint address="http://localhost:54135/ServiceHealth.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceHealthAlert"
        contract="ServiceReferenceHealth.IServiceHealthAlert" name="BasicHttpBinding_IServiceHealthAlert" />
    </client>
  </system.serviceModel>
  <userSettings>
    <MyHealth.Properties.Settings>
      <setting name="Gender_Voice" serializeAs="String">
        <value />
      </setting>
      <setting name="Voice_Rate" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MedLine_URL" serializeAs="String">
        <value />
      </setting>
      <setting name="DLL_Rate" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Retmax" serializeAs="String">
        <value>0</value>
      </setting>
    </MyHealth.Properties.Settings>
  </userSettings>
</configuration>